@-webkit-keyframes zoomInLeft{
    0%{opacity:0;-webkit-transform:scale(.1) translateX(-2000px);-ms-transform:scale(.1) translateX(-2000px);transform:scale(.1) translateX(-2000px);-webkit-animation-timing-function:ease-in-out;animation-timing-function:ease-in-out}
    60%{opacity:1;-webkit-transform:scale(.475) translateX(48px);-ms-transform:scale(.475) translateX(48px);transform:scale(.475) translateX(48px);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out;}
    100%{opacity:1;}
}
@-moz-keyframes zoomInLeft{
    0%{opacity:0;-webkit-transform:scale(.1) translateX(-2000px);-ms-transform:scale(.1) translateX(-2000px);transform:scale(.1) translateX(-2000px);-webkit-animation-timing-function:ease-in-out;animation-timing-function:ease-in-out}
    60%{opacity:1;-webkit-transform:scale(.475) translateX(48px);-ms-transform:scale(.475) translateX(48px);transform:scale(.475) translateX(48px);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out;}
    100%{opacity:1;}
}
@-o-keyframes zoomInLeft{
    0%{opacity:0;-webkit-transform:scale(.1) translateX(-2000px);-ms-transform:scale(.1) translateX(-2000px);transform:scale(.1) translateX(-2000px);-webkit-animation-timing-function:ease-in-out;animation-timing-function:ease-in-out}
    60%{opacity:1;-webkit-transform:scale(.475) translateX(48px);-ms-transform:scale(.475) translateX(48px);transform:scale(.475) translateX(48px);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out;}
    100%{opacity:1;}
}
@keyframes zoomInLeft{
    0%{opacity:0;-webkit-transform:scale(.1) translateX(-2000px);-ms-transform:scale(.1) translateX(-2000px);transform:scale(.1) translateX(-2000px);-webkit-animation-timing-function:ease-in-out;animation-timing-function:ease-in-out}
    60%{opacity:1;-webkit-transform:scale(.475) translateX(48px);-ms-transform:scale(.475) translateX(48px);transform:scale(.475) translateX(48px);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out;}
    100%{opacity:1;}
}

@-webkit-keyframes zoomInRight{
    0%{opacity:0;-webkit-transform:scale(.1) translateX(2000px);-ms-transform:scale(.1) translateX(2000px);transform:scale(.1) translateX(2000px);-webkit-animation-timing-function:ease-in-out;animation-timing-function:ease-in-out}
    60%{opacity:1;-webkit-transform:scale(.475) translateX(-48px);-ms-transform:scale(.475) translateX(-48px);transform:scale(.475) translateX(-48px);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out;}
    100%{opacity:1;}
}
@-moz-keyframes zoomInRight{
    0%{opacity:0;-webkit-transform:scale(.1) translateX(2000px);-ms-transform:scale(.1) translateX(2000px);transform:scale(.1) translateX(2000px);-webkit-animation-timing-function:ease-in-out;animation-timing-function:ease-in-out}
    60%{opacity:1;-webkit-transform:scale(.475) translateX(-48px);-ms-transform:scale(.475) translateX(-48px);transform:scale(.475) translateX(-48px);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out;}
    100%{opacity:1;}
}
@-o-keyframes zoomInRight{
    0%{opacity:0;-webkit-transform:scale(.1) translateX(2000px);-ms-transform:scale(.1) translateX(2000px);transform:scale(.1) translateX(2000px);-webkit-animation-timing-function:ease-in-out;animation-timing-function:ease-in-out}
    60%{opacity:1;-webkit-transform:scale(.475) translateX(-48px);-ms-transform:scale(.475) translateX(-48px);transform:scale(.475) translateX(-48px);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out;}
    100%{opacity:1;}
}
@keyframes zoomInRight{
    0%{opacity:0;-webkit-transform:scale(.1) translateX(2000px);-ms-transform:scale(.1) translateX(2000px);transform:scale(.1) translateX(2000px);-webkit-animation-timing-function:ease-in-out;animation-timing-function:ease-in-out}
    60%{opacity:1;-webkit-transform:scale(.475) translateX(-48px);-ms-transform:scale(.475) translateX(-48px);transform:scale(.475) translateX(-48px);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out;}
    100%{opacity:1;}
}
@-webkit-keyframes uppage {
    0% {-webkit-transform: translateY(0rem);transform: translateY(0rem);opacity: 0;}
    50% {-webkit-transform: translateY(-0.3rem);transform: translateY(0rem);opacity: 1;}
    90% {-webkit-transform: translateY(-0.4rem);transform: translateY(0rem);opacity: 0;}
    100% {-webkit-transform: translateY(-0.3rem);transform: translateY(0rem);opacity: 0;}
}
@keyframes uppage {
    0% {-webkit-transform: translateY(0rem);transform: translateY(0rem);opacity: 0;}
    50% {-webkit-transform: translateY(-0.3rem);transform: translateY(0rem);opacity: 1;}
    90% {-webkit-transform: translateY(-0.4rem);transform: translateY(0rem);opacity: 0;}
    100% {-webkit-transform: translateY(-0.3rem);transform: translateY(0rem);opacity: 0;}
}
@-webkit-keyframes rotateInDownLeft{
    0%{-webkit-transform-origin:left bottom;-ms-transform-origin:left bottom;transform-origin:left bottom;-webkit-transform:rotate(-90deg);-ms-transform:rotate(-90deg);transform:rotate(-90deg);opacity:0}
    100%{-webkit-transform-origin:left bottom;-ms-transform-origin:left bottom;transform-origin:left bottom;-webkit-transform:rotate(0deg);-ms-transform:rotate(0deg);transform:rotate(0deg);opacity:1}
}
@keyframes rotateInDownLeft{
    0%{-webkit-transform-origin:left bottom;-ms-transform-origin:left bottom;transform-origin:left bottom;-webkit-transform:rotate(-90deg);-ms-transform:rotate(-90deg);transform:rotate(-90deg);opacity:0}
    100%{-webkit-transform-origin:left bottom;-ms-transform-origin:left bottom;transform-origin:left bottom;-webkit-transform:rotate(0deg);-ms-transform:rotate(0deg);transform:rotate(0deg);opacity:1}
}
@-webkit-keyframes rotateInDownRight{
    0%{-webkit-transform-origin:right bottom;-ms-transform-origin:right bottom;transform-origin:right bottom;-webkit-transform:rotate(90deg);-ms-transform:rotate(90deg);transform:rotate(90deg);opacity:0}
    100%{-webkit-transform-origin:right bottom;-ms-transform-origin:right bottom;transform-origin:right bottom;-webkit-transform:rotate(0deg);-ms-transform:rotate(0deg);transform:rotate(0deg);opacity:1}
}
@keyframes rotateInDownRight{
    0%{-webkit-transform-origin:right bottom;-ms-transform-origin:right bottom;transform-origin:right bottom;-webkit-transform:rotate(90deg);-ms-transform:rotate(90deg);transform:rotate(90deg);opacity:0}
    100%{-webkit-transform-origin:right bottom;-ms-transform-origin:right bottom;transform-origin:right bottom;-webkit-transform:rotate(0deg);-ms-transform:rotate(0deg);transform:rotate(0deg);opacity:1}
}
@-webkit-keyframes rotateInUpLeft{
    0%{-webkit-transform-origin:left bottom;-ms-transform-origin:left bottom;transform-origin:left bottom;-webkit-transform:rotate(90deg);-ms-transform:rotate(90deg);transform:rotate(90deg);opacity:0}
    100%{-webkit-transform-origin:left bottom;-ms-transform-origin:left bottom;transform-origin:left bottom;-webkit-transform:rotate(0deg);-ms-transform:rotate(0deg);transform:rotate(0deg);opacity:1}
}
@keyframes rotateInUpLeft{
    0%{-webkit-transform-origin:left bottom;-ms-transform-origin:left bottom;transform-origin:left bottom;-webkit-transform:rotate(90deg);-ms-transform:rotate(90deg);transform:rotate(90deg);opacity:0}
    100%{-webkit-transform-origin:left bottom;-ms-transform-origin:left bottom;transform-origin:left bottom;-webkit-transform:rotate(0deg);-ms-transform:rotate(0deg);transform:rotate(0deg);opacity:1}
}
@-webkit-keyframes rotateInUpRight{
    0%{-webkit-transform-origin:right bottom;-ms-transform-origin:right bottom;transform-origin:right bottom;-webkit-transform:rotate(-90deg);-ms-transform:rotate(-90deg);transform:rotate(-90deg);opacity:0}
    100%{-webkit-transform-origin:right bottom;-ms-transform-origin:right bottom;transform-origin:right bottom;-webkit-transform:rotate(0deg);-ms-transform:rotate(0deg);transform:rotate(0deg);opacity:1}
}
@keyframes rotateInUpRight{
    0%{-webkit-transform-origin:right bottom;-ms-transform-origin:right bottom;transform-origin:right bottom;-webkit-transform:rotate(-90deg);-ms-transform:rotate(-90deg);transform:rotate(-90deg);opacity:0}
    100%{-webkit-transform-origin:right bottom;-ms-transform-origin:right bottom;transform-origin:right bottom;-webkit-transform:rotate(0deg);-ms-transform:rotate(0deg);transform:rotate(0deg);opacity:1}
}
@-webkit-keyframes bounceIn{
    0%{opacity:0;-webkit-transform:scale(1.8);-ms-transform:scale(1.8);transform:scale(1.8)}
    100%{opacity:1;-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}
}
@keyframes bounceIn{
    0%{opacity:0;-webkit-transform:scale(1.8);-ms-transform:scale(1.8);transform:scale(1.8)}
    100%{opacity:1;-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}
}
@-webkit-keyframes bounceIn1{
    0%{opacity:0;-webkit-transform:scale(.3);-ms-transform:scale(.3);transform:scale(.3)}
    50%{opacity:1;-webkit-transform:scale(1.1);-ms-transform:scale(1.1);transform:scale(1.1)}
    70%{-webkit-transform:scale(.9);-ms-transform:scale(.9);transform:scale(.9)}
    100%{opacity:1;-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}
}
@keyframes bounceIn1{
    0%{opacity:0;-webkit-transform:scale(.3);-ms-transform:scale(.3);transform:scale(.3)}
    50%{opacity:1;-webkit-transform:scale(1.1);-ms-transform:scale(1.1);transform:scale(1.1)}
    70%{-webkit-transform:scale(.9);-ms-transform:scale(.9);transform:scale(.9)}
    100%{opacity:1;-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}
}
@-webkit-keyframes bounceInDown{
    0%{opacity:0;-webkit-transform:translateY(-2000px);-ms-transform:translateY(-2000px);transform:translateY(-2000px);}
    60%{opacity:1;-webkit-transform:translateY(30px);-ms-transform:translateY(30px);transform:translateY(30px);}
    80%{-webkit-transform:translateY(-10px);-ms-transform:translateY(-10px);transform:translateY(-10px);opacity: 1;}
    100%{-webkit-transform:translateY(0px);-ms-transform:translateY(0px);transform:translateY(0px);opacity: 1;}
}
@keyframes bounceInDown{
    0%{opacity:0;-webkit-transform:translateY(-2000px);-ms-transform:translateY(-2000px);transform:translateY(-2000px);}
    60%{opacity:1;-webkit-transform:translateY(30px);-ms-transform:translateY(30px);transform:translateY(30px);}
    80%{-webkit-transform:translateY(-10px);-ms-transform:translateY(-10px);transform:translateY(-10px);opacity: 1;}
    100%{-webkit-transform:translateY(0px);-ms-transform:translateY(0px);transform:translateY(0px);opacity: 1;}
}
@-webkit-keyframes bounceInLeft{
    0%{opacity:0;-webkit-transform:translateX(-2rem);-ms-transform:translateX(-2rem);transform:translateX(-2rem)}
    60%{opacity:1;-webkit-transform:translateX(30px);-ms-transform:translateX(30px);transform:translateX(30px)}
    80%{-webkit-transform:translateX(-10px);-ms-transform:translateX(-10px);transform:translateX(-10px)}
    100%{opacity:1;-webkit-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0)}
}
@keyframes bounceInLeft{
    0%{opacity:0;-webkit-transform:translateX(-2rem);-ms-transform:translateX(-2rem);transform:translateX(-2rem)}
    60%{opacity:1;-webkit-transform:translateX(30px);-ms-transform:translateX(30px);transform:translateX(30px)}
    80%{-webkit-transform:translateX(-10px);-ms-transform:translateX(-10px);transform:translateX(-10px)}
    100%{opacity:1;-webkit-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0)}
}
@-webkit-keyframes bounceInRight{
    0%{opacity:0;-webkit-transform:translateX(2rem);-ms-transform:translateX(2rem);transform:translateX(2rem)}
    60%{opacity:1;-webkit-transform:translateX(-30px);-ms-transform:translateX(-30px);transform:translateX(-30px)}
    80%{-webkit-transform:translateX(10px);-ms-transform:translateX(10px);transform:translateX(10px)}
    100%{opacity:1;-webkit-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0)}
}
@keyframes bounceInRight{
    0%{opacity:0;-webkit-transform:translateX(2rem);-ms-transform:translateX(2rem);transform:translateX(2rem)}
    60%{opacity:1;-webkit-transform:translateX(-30px);-ms-transform:translateX(-30px);transform:translateX(-30px)}
    80%{-webkit-transform:translateX(10px);-ms-transform:translateX(10px);transform:translateX(10px)}
    100%{opacity:1;-webkit-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0)}
}
@-webkit-keyframes bounceInUp{
    0%{opacity:0;-webkit-transform:translateY(2000px);-ms-transform:translateY(2000px);transform:translateY(2000px)}
    60%{opacity:1;-webkit-transform:translateY(-30px);-ms-transform:translateY(-30px);transform:translateY(-30px)}
    80%{-webkit-transform:translateY(10px);-ms-transform:translateY(10px);transform:translateY(10px)}
    100%{opacity:1;-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0)}
}
@keyframes bounceInUp{
    0%{opacity:0;-webkit-transform:translateY(2000px);-ms-transform:translateY(2000px);transform:translateY(2000px)}
    60%{opacity:1;-webkit-transform:translateY(-30px);-ms-transform:translateY(-30px);transform:translateY(-30px)}
    80%{-webkit-transform:translateY(10px);-ms-transform:translateY(10px);transform:translateY(10px)}
    100%{opacity:1;-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0)}
}
@-webkit-keyframes fadeInUp{
    0%{opacity:0;-webkit-transform:scaleY(1.8);-ms-transform:scaleY(1.8);transform:scaleY(1.8)}
    100%{opacity:1;-webkit-transform:scaleY(1);-ms-transform:scaleY(1);transform:scaleY(1)}
}
@keyframes fadeInUp{
    0%{opacity:0;-webkit-transform:scaleY(1.8);-ms-transform:scaleY(1.8);transform:scaleY(1.8)}
    100%{opacity:1;-webkit-transform:scaleY(1);-ms-transform:scaleY(1);transform:scaleY(1)}
}
@-webkit-keyframes fadeInLeftBig{
    0%{opacity:0;-webkit-transform:translateX(-2000px);-ms-transform:translateX(-2000px);transform:translateX(-2000px)}
    100%{opacity:1;-webkit-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0)}
}
@keyframes fadeInLeftBig{
    0%{opacity:0;-webkit-transform:translateX(-2000px);-ms-transform:translateX(-2000px);transform:translateX(-2000px)}
    100%{opacity:1;-webkit-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0)}
}
@-webkit-keyframes fadeInLeft{0%{opacity:0;-webkit-transform:translateX(-20px);-ms-transform:translateX(-20px);transform:translateX(-20px)}100%{opacity:1;-webkit-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0)}}
@keyframes fadeInLeft{0%{opacity:0;-webkit-transform:translateX(-20px);-ms-transform:translateX(-20px);transform:translateX(-20px)}100%{opacity:1;-webkit-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0)}}
@-webkit-keyframes fadeInRight{0%{opacity:0;-webkit-transform:translateX(20px);-ms-transform:translateX(20px);transform:translateX(20px)}100%{opacity:1;-webkit-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0)}}
@keyframes fadeInRight{0%{opacity:0;-webkit-transform:translateX(20px);-ms-transform:translateX(20px);transform:translateX(20px)}100%{opacity:1;-webkit-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0)}}
@-webkit-keyframes fadeInRightBig{
    0%{opacity:0;-webkit-transform:translateX(2000px);-ms-transform:translateX(2000px);transform:translateX(2000px)}
    100%{opacity:1;-webkit-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0)}
}
@keyframes fadeInRightBig{
    0%{opacity:0;-webkit-transform:translateX(2000px);-ms-transform:translateX(2000px);transform:translateX(2000px)}
    100%{opacity:1;-webkit-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0)}
}
@-webkit-keyframes pulse{
    0%{-webkit-transform:scale(1,1);-ms-transform:scale(1,1);transform:scale(1,1);opacity: 0;}
    50%{-webkit-transform:scale(1.5,1.5);-ms-transform:scale(1.5,1.5);transform:scale(1.5,1.5);}
    100%{-webkit-transform:scale(1,1);-ms-transform:scale(1,1);transform:scale(1,1);opacity: 1;}
}
@keyframes pulse{
    0%{-webkit-transform:scale(1,1);-ms-transform:scale(1,1);transform:scale(1,1);opacity: 0;}
    50%{-webkit-transform:scale(1.5,1.5);-ms-transform:scale(1.5,1.5);transform:scale(1.5,1.5);}
    100%{-webkit-transform:scale(1,1);-ms-transform:scale(1,1);transform:scale(1,1);opacity: 1;}
}
@-webkit-keyframes scaleY{
    0%{-webkit-transform:scale(0,1);-ms-transform:scale(0,1);transform:scale(0,1);opacity: 0;}
    100%{-webkit-transform:scale(1,1);-ms-transform:scale(1,1);transform:scale(1,1);opacity: 1;}
}
@keyframes scaleY{
    0%{-webkit-transform:scale(0,1);-ms-transform:scale(0,1);transform:scale(0,1);opacity: 0;}
    100%{-webkit-transform:scale(1,1);-ms-transform:scale(1,1);transform:scale(1,1);opacity: 1;}
}
@-webkit-keyframes scaleX{
    0%{-webkit-transform:scale(1,0);-ms-transform:scale(1,0);transform:scale(1,0);opacity: 0;transform-origin:center bottom;}
    100%{-webkit-transform:scale(1,1);-ms-transform:scale(1,1);transform:scale(1,1);opacity: 1;transform-origin:center bottom;}
}
@keyframes scaleX{
    0%{-webkit-transform:scale(1,0);-ms-transform:scale(1,0);transform:scale(1,0);opacity: 0;transform-origin:center bottom;}
    100%{-webkit-transform:scale(1,1);-ms-transform:scale(1,1);transform:scale(1,1);opacity: 1;transform-origin:center bottom;}
}
@-webkit-keyframes rollIn{
    0%{opacity:0;-webkit-transform:translateX(-100%) rotate(-120deg);-ms-transform:translateX(-100%) rotate(-120deg);transform:translateX(-100%) rotate(-120deg)}
    100%{opacity:1;-webkit-transform:translateX(0px) rotate(0deg);-ms-transform:translateX(0px) rotate(0deg);transform:translateX(0px) rotate(0deg)}
}
@keyframes rollIn{
    0%{opacity:0;-webkit-transform:translateX(-100%) rotate(-120deg);-ms-transform:translateX(-100%) rotate(-120deg);transform:translateX(-100%) rotate(-120deg)}
    100%{opacity:1;-webkit-transform:translateX(0px) rotate(0deg);-ms-transform:translateX(0px) rotate(0deg);transform:translateX(0px) rotate(0deg)}
}
@-webkit-keyframes rubberBand{
    0%{-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1);opacity: 0}
    30%{-webkit-transform:scaleX(1.25) scaleY(0.75);-ms-transform:scaleX(1.25) scaleY(0.75);transform:scaleX(1.25) scaleY(0.75)}
    40%{-webkit-transform:scaleX(0.75) scaleY(1.25);-ms-transform:scaleX(0.75) scaleY(1.25);transform:scaleX(0.75) scaleY(1.25)}
    60%{-webkit-transform:scaleX(1.15) scaleY(0.85);-ms-transform:scaleX(1.15) scaleY(0.85);transform:scaleX(1.15) scaleY(0.85)}
    100%{-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1);opacity: 1;}
}
@keyframes rubberBand{
    0%{-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1);opacity: 0}
    30%{-webkit-transform:scaleX(1.25) scaleY(0.75);-ms-transform:scaleX(1.25) scaleY(0.75);transform:scaleX(1.25) scaleY(0.75)}
    40%{-webkit-transform:scaleX(0.75) scaleY(1.25);-ms-transform:scaleX(0.75) scaleY(1.25);transform:scaleX(0.75) scaleY(1.25)}
    60%{-webkit-transform:scaleX(1.15) scaleY(0.85);-ms-transform:scaleX(1.15) scaleY(0.85);transform:scaleX(1.15) scaleY(0.85)}
    100%{-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1);opacity: 1;}
}
@-webkit-keyframes flipInY{
    0%{-webkit-transform:perspective(400px) rotateY(90deg);-ms-transform:perspective(400px) rotateY(90deg);transform:perspective(400px) rotateY(90deg);opacity:0}
    40%{-webkit-transform:perspective(400px) rotateY(-10deg);-ms-transform:perspective(400px) rotateY(-10deg);transform:perspective(400px) rotateY(-10deg)}
    70%{-webkit-transform:perspective(400px) rotateY(10deg);-ms-transform:perspective(400px) rotateY(10deg);transform:perspective(400px) rotateY(10deg)}
    100%{-webkit-transform:perspective(400px) rotateY(0deg);-ms-transform:perspective(400px) rotateY(0deg);transform:perspective(400px) rotateY(0deg);opacity:1}
}
@keyframes flipInY{
    0%{-webkit-transform:perspective(400px) rotateY(90deg);-ms-transform:perspective(400px) rotateY(90deg);transform:perspective(400px) rotateY(90deg);opacity:0}
    40%{-webkit-transform:perspective(400px) rotateY(-10deg);-ms-transform:perspective(400px) rotateY(-10deg);transform:perspective(400px) rotateY(-10deg)}
    70%{-webkit-transform:perspective(400px) rotateY(10deg);-ms-transform:perspective(400px) rotateY(10deg);transform:perspective(400px) rotateY(10deg)}
    100%{-webkit-transform:perspective(400px) rotateY(0deg);-ms-transform:perspective(400px) rotateY(0deg);transform:perspective(400px) rotateY(0deg);opacity:1}
}
@-webkit-keyframes flipInX{
    0%{-webkit-transform:perspective(400px) rotateX(90deg);-ms-transform:perspective(400px) rotateX(90deg);transform:perspective(400px) rotateX(90deg);opacity:0}
    40%{-webkit-transform:perspective(400px) rotateX(-10deg);-ms-transform:perspective(400px) rotateX(-10deg);transform:perspective(400px) rotateX(-10deg)}
    70%{-webkit-transform:perspective(400px) rotateX(10deg);-ms-transform:perspective(400px) rotateX(10deg);transform:perspective(400px) rotateX(10deg)}
    100%{-webkit-transform:perspective(400px) rotateX(0deg);-ms-transform:perspective(400px) rotateX(0deg);transform:perspective(400px) rotateX(0deg);opacity:1}
}
@keyframes flipInX{
    0%{-webkit-transform:perspective(400px) rotateX(90deg);-ms-transform:perspective(400px) rotateX(90deg);transform:perspective(400px) rotateX(90deg);opacity:0}
    40%{-webkit-transform:perspective(400px) rotateX(-10deg);-ms-transform:perspective(400px) rotateX(-10deg);transform:perspective(400px) rotateX(-10deg)}
    70%{-webkit-transform:perspective(400px) rotateX(10deg);-ms-transform:perspective(400px) rotateX(10deg);transform:perspective(400px) rotateX(10deg)}
    100%{-webkit-transform:perspective(400px) rotateX(0deg);-ms-transform:perspective(400px) rotateX(0deg);transform:perspective(400px) rotateX(0deg);opacity:1}
}
@-webkit-keyframes fadeInUpBig{
    0%{opacity:0;-webkit-transform:translateY(2000px);-ms-transform:translateY(2000px);transform:translateY(2000px)}
    100%{opacity:1;-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0)}
}
@keyframes fadeInUpBig{
    0%{opacity:0;-webkit-transform:translateY(2000px);-ms-transform:translateY(2000px);transform:translateY(2000px)}
    100%{opacity:1;-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0)}
}
@-webkit-keyframes circle{
    from{-webkit-transform: rotate(0deg);transform: rotate(0deg);opacity: 0.5;}
    30%{opacity: 1;}
    to{-webkit-transform: rotate(720deg);transform: rotate(720deg);opacity: 1;}
}
@keyframes circle{
    from{-webkit-transform: rotate(0deg);transform: rotate(0deg);opacity: 0.5;}
    30%{opacity: 1;}
    to{-webkit-transform: rotate(720deg);transform: rotate(720deg);opacity: 1;}
}
@-webkit-keyframes circle1{
    from{-webkit-transform: rotate(180deg);-moz-transform: rotate(180deg);-o-transform: rotate(180deg);transform: rotate(180deg);opacity: 0;}
    to{transform: rotate(360deg);opacity: 1;}
}
@keyframes circle1{
    from{-webkit-transform: rotate(180deg);-moz-transform: rotate(180deg);-o-transform: rotate(180deg);transform: rotate(180deg);opacity: 0;}
    to{transform: rotate(360deg);opacity: 1;}
}
@-webkit-keyframes circle2{
    from{-webkit-transform: rotate(-180deg);-moz-transform: rotate(-180deg);-o-transform: rotate(-180deg);transform: rotate(-180deg);opacity: 0;}
    to{-webkit-transform: rotate(-360deg);-moz-transform: rotate(-360deg);-o-transform: rotate(-360deg);opacity: 1;}
}
@keyframes circle2{
    from{-webkit-transform: rotate(-180deg);-moz-transform: rotate(-180deg);-o-transform: rotate(-180deg);transform: rotate(-180deg);opacity: 0;}
    to{-webkit-transform: rotate(-360deg);-moz-transform: rotate(-360deg);-o-transform: rotate(-360deg);opacity: 1;}
}
@-webkit-keyframes zoomIn{
    0%{opacity:0;-webkit-transform:scale3d(.3,.3,.3);-ms-transform:scale3d(.3,.3,.3);transform:scale3d(.3,.3,.3);}
    100%{opacity:1;}
}
@keyframes zoomIn{ 
    0%{opacity:0;-webkit-transform:scale3d(.3,.3,.3);-ms-transform:scale3d(.3,.3,.3);transform:scale3d(.3,.3,.3);}
    100%{opacity:1;}
}
@-webkit-keyframes zoomIn1{
    0%{opacity:0;-webkit-transform:scale3d(.3,.3,.3);-ms-transform:scale3d(.3,.3,.3);transform:scale3d(.3,.3,.3);
    position: absolute;left: 36%;}
    100%{opacity:1;position: absolute;left: 0;}
}
@keyframes zoomIn1{
    0%{opacity:0;-webkit-transform:scale3d(.3,.3,.3);-ms-transform:scale3d(.3,.3,.3);transform:scale3d(.3,.3,.3);
    position: absolute;left: 36%;}
    100%{opacity:1;position: absolute;left: 0;}
}
@-webkit-keyframes zoomIn2{
    0%{opacity:0;-webkit-transform:scale3d(.3,.3,.3);-ms-transform:scale3d(.3,.3,.3);transform:scale3d(.3,.3,.3);
        position: absolute;right: 30.1%;}
    100%{opacity:1;position: absolute;right: 0%;}
}
@keyframes zoomIn2{
    0%{opacity:0;-webkit-transform:scale3d(.3,.3,.3);-ms-transform:scale3d(.3,.3,.3);transform:scale3d(.3,.3,.3);
        position: absolute;right: 30.1%;}
    100%{opacity:1;position: absolute;right: 0%;}
}
@-webkit-keyframes slideInLeft{
    0%{opacity:0;-webkit-transform:translateX(-200px);-ms-transform:translateX(-200px);transform:translateX(-200px)}
    100%{opacity:1;-webkit-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0)}
}
@keyframes slideInLeft{
    0%{opacity:0;-webkit-transform:translateX(-200px);-ms-transform:translateX(-200px);transform:translateX(-200px)}
    100%{opacity:1;-webkit-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0)}
}
@-webkit-keyframes slideInRight{
    0%{opacity:0;-webkit-transform:translateX(2rem);-ms-transform:translateX(200px);transform:translateX(200px)}
    100%{opacity:1;-webkit-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0)}
}
@keyframes slideInRight{
    0%{opacity:0;-webkit-transform:translateX(2rem);-ms-transform:translateX(200px);transform:translateX(200px)}
    100%{opacity:1;-webkit-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0)}
}
@-webkit-keyframes zoomInUp {
    0%{opacity:0;-webkit-transform:scale3d(.1,.1,.1) translate3d(0,1000px,0);-ms-transform:scale3d(.1,.1,.1) translate3d(0,1000px,0);transform:scale3d(.1,.1,.1) translate3d(0,1000px,0);-webkit-animation-timing-function:cubic-bezier(0.55,.055,.675,.19);animation-timing-function:cubic-bezier(0.55,.055,.675,.19)}
    80%{opacity:1;-webkit-transform:scale3d(.475,.475,.475) translate3d(0,-60px,0);-ms-transform:scale3d(.475,.475,.475) translate3d(0,-60px,0);transform:scale3d(.475,.475,.475) translate3d(0,-60px,0);-webkit-animation-timing-function:cubic-bezier(0.175,.885,.32,1);animation-timing-function:cubic-bezier(0.175,.885,.32,1)}
    100%{opacity: 1;}
}
@keyframes zoomInUp {
    0%{opacity:0;-webkit-transform:scale3d(.1,.1,.1) translate3d(0,1000px,0);-ms-transform:scale3d(.1,.1,.1) translate3d(0,1000px,0);transform:scale3d(.1,.1,.1) translate3d(0,1000px,0);-webkit-animation-timing-function:cubic-bezier(0.55,.055,.675,.19);animation-timing-function:cubic-bezier(0.55,.055,.675,.19)}
    80%{opacity:1;-webkit-transform:scale3d(.475,.475,.475) translate3d(0,-60px,0);-ms-transform:scale3d(.475,.475,.475) translate3d(0,-60px,0);transform:scale3d(.475,.475,.475) translate3d(0,-60px,0);-webkit-animation-timing-function:cubic-bezier(0.175,.885,.32,1);animation-timing-function:cubic-bezier(0.175,.885,.32,1)}
    100%{opacity: 1;}
}
@-webkit-keyframes button{
    0%{opacity:0;-webkit-transform:translateX(-2rem);-ms-transform:translateX(-2rem);transform:translateX(-2rem);border-radius: 0px;}
    60%{opacity:1;-webkit-transform:translateX(30px);-ms-transform:translateX(30px);transform:translateX(30px)}
    80%{-webkit-transform:translateX(-10px);-ms-transform:translateX(-10px);transform:translateX(-10px)}
    100%{opacity:1;-webkit-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0);border-radius: 8px;}
}
@keyframes button{
    0%{opacity:0;-webkit-transform:translateX(-2rem) skewX(0deg);-ms-transform:translateX(-2rem);transform:translateX(-2rem) skewX(0deg);border-radius: 0px;}
    50%{opacity:1;-webkit-transform:skewX(-30deg) translateX(30px) ;-ms-transform:translateX(30px);transform:skewX(-30deg) translateX(30px);border-radius: 0px;}
    70%{-webkit-transform: skewX(5deg) translateX(-10px);-ms-transform: skewX(5deg) translateX(-10px);transform: skewX(5deg) translateX(-10px);}
    90%{-webkit-transform: skewX(-2deg) translateX(5px);-ms-transform: skewX(-2deg) translateX(5px);transform: skewX(-2deg) translateX(5px);}
    100%{opacity:1;-webkit-transform:translateX(0) skewX(0deg);-ms-transform:translateX(0);transform:translateX(0) skewX(0deg);border-radius: 8px;}
}
/*@-webkit-keyframes tada{*/
    /*0%{opacity:0;-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}*/
    /*10%,20%{-webkit-transform:scale(0.9) rotate(-3deg);-ms-transform:scale(0.9) rotate(-3deg);transform:scale(0.9) rotate(-3deg)}*/
    /*30%,50%,70%,90%{-webkit-transform:scale(1.1) rotate(3deg);-ms-transform:scale(1.1) rotate(3deg);transform:scale(1.1) rotate(3deg)}40%,60%,80%{-webkit-transform:scale(1.1) rotate(-3deg);-ms-transform:scale(1.1) rotate(-3deg);transform:scale(1.1) rotate(-3deg)}*/
    /*100%{opacity:1;-webkit-transform:scale(1) rotate(0deg);-ms-transform:scale(1) rotate(0deg);transform:scale(1) rotate(0deg)}*/
/*}*/
/*@keyframes tada{*/
    /*0%{opacity:0;-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}*/
    /*10%,20%{-webkit-transform:scale(0.9) rotate(-3deg);-ms-transform:scale(0.9) rotate(-3deg);transform:scale(0.9) rotate(-3deg)}*/
    /*30%,50%,70%,90%{-webkit-transform:scale(1.1) rotate(3deg);-ms-transform:scale(1.1) rotate(3deg);transform:scale(1.1) rotate(3deg)}40%,60%,80%{-webkit-transform:scale(1.1) rotate(-3deg);-ms-transform:scale(1.1) rotate(-3deg);transform:scale(1.1) rotate(-3deg)}*/
    /*100%{opacity:1;-webkit-transform:scale(1) rotate(0deg);-ms-transform:scale(1) rotate(0deg);transform:scale(1) rotate(0deg)}*/
/*}*/
/*@keyframes flipOutY{*/
/*0%{-webkit-transform:perspective(400px) rotateY(120deg);-ms-transform:perspective(400px) rotateY(120deg);transform:perspective(400px) rotateY(120deg);opacity:0}*/
/*20%{-webkit-transform:perspective(400px) rotateY(-15deg);-ms-transform:perspective(400px) rotateY(-15deg);transform:perspective(400px) rotateY(-15deg);opacity:1}*/
/*40%{-webkit-transform:perspective(400px) rotateY(10deg);-ms-transform:perspective(400px) rotateY(10deg);transform:perspective(400px) rotateY(10deg);}*/
/*60%{-webkit-transform:perspective(400px) rotateY(-5deg);-ms-transform:perspective(400px) rotateY(-5deg);transform:perspective(400px) rotateY(-5deg);}*/
/*80%{-webkit-transform:perspective(400px) rotateY(5deg);-ms-transform:perspective(400px) rotateY(5deg);transform:perspective(400px) rotateY(5deg)}*/
/*100%{-webkit-transform:perspective(400px) rotateY(0deg);-ms-transform:perspective(400px) rotateY(0deg);transform:perspective(400px) rotateY(0deg);opacity:1}*/
/*}*/
/*@keyframes swing{*/
/*0%{opacity: 0;}*/
/*20%{-webkit-transform:rotate(15deg);-ms-transform:rotate(15deg);transform:rotate(15deg)}*/
/*40%{-webkit-transform:rotate(-10deg);-ms-transform:rotate(-10deg);transform:rotate(-10deg)}*/
/*60%{-webkit-transform:rotate(5deg);-ms-transform:rotate(5deg);transform:rotate(5deg)}*/
/*80%{-webkit-transform:rotate(-5deg);-ms-transform:rotate(-5deg);transform:rotate(-5deg)}*/
/*100%{opacity:1;-webkit-transform:rotate(0deg);-ms-transform:rotate(0deg);transform:rotate(0deg)}*/
/*}*/
@-webkit-keyframes bounceInRight1{
    0%{opacity:0;-webkit-transform:translateX(20rem);-ms-transform:translateX(20rem);transform:translateX(20rem)}
    60%{opacity:1;-webkit-transform:translateX(-20px);-ms-transform:translateX(-20px);transform:translateX(-20px)}
    80%{-webkit-transform:translateX(10px);-ms-transform:translateX(10px);transform:translateX(10px)}
    100%{opacity:1;-webkit-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0)}
}
@keyframes bounceInRight1{
    0%{opacity:0;-webkit-transform:translateX(20rem);-ms-transform:translateX(20rem);transform:translateX(20rem)}
    60%{opacity:1;-webkit-transform:translateX(-20px);-ms-transform:translateX(-20px);transform:translateX(-20px)}
    80%{-webkit-transform:translateX(10px);-ms-transform:translateX(10px);transform:translateX(10px)}
    100%{opacity:1;-webkit-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0)}
}
@-webkit-keyframes bounceInLeft1{
    0%{opacity:0;-webkit-transform:translateX(-20rem);-ms-transform:translateX(-20rem);transform:translateX(-20rem)}
    60%{opacity:1;-webkit-transform:translateX(20px);-ms-transform:translateX(20px);transform:translateX(20px)}
    80%{-webkit-transform:translateX(-10px);-ms-transform:translateX(-10px);transform:translateX(-10px)}
    100%{opacity:1;-webkit-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0)}
}
@keyframes bounceInLeft1{
    0%{opacity:0;-webkit-transform:translateX(-20rem);-ms-transform:translateX(-20rem);transform:translateX(-20rem)}
    60%{opacity:1;-webkit-transform:translateX(20px);-ms-transform:translateX(20px);transform:translateX(20px)}
    80%{-webkit-transform:translateX(-10px);-ms-transform:translateX(-10px);transform:translateX(-10px)}
    100%{opacity:1;-webkit-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0)}
}
@-webkit-keyframes scaleY1{
    0%{-webkit-transform:scale(0,1);-ms-transform:scale(0,1);transform:scale(0,1);opacity: 0;}
    60%{opacity:1;-webkit-transform:scale(1.13,1);-ms-transform:scale(1.13,1);transform:scale(1.13,1)}
    80%{-webkit-transform:scale(.949,1);-ms-transform:scale(.949,1);transform:scale(.949,1)}
    100%{-webkit-transform:scale(1,1);-ms-transform:scale(1,1);transform:scale(1,1);opacity: 1;}
}
@keyframes scaleY1{
    0%{-webkit-transform:scale(0,1);-ms-transform:scale(0,1);transform:scale(0,1);opacity: 0;}
    60%{opacity:1;-webkit-transform:scale(1.13,1);-ms-transform:scale(1.13,1);transform:scale(1.13,1)}
    80%{-webkit-transform:scale(.949,1);-ms-transform:scale(.949,1);transform:scale(.949,1)}
    100%{-webkit-transform:scale(1,1);-ms-transform:scale(1,1);transform:scale(1,1);opacity: 1;}
}
@-webkit-keyframes scaleX1{
    0%{-webkit-transform:scaleY(0);-ms-transform:scaleY(0);transform:scaleY(0);opacity: 0;}
    60%{opacity:1;-webkit-transform:scaleY(1.05);-ms-transform:scaleY(1.05);transform:scaleY(1.05)}
    80%{-webkit-transform:scaleY(.949);-ms-transform:scaleY(.949);transform:scaleY(.949)}
    100%{-webkit-transform:scaleY(1);-ms-transform:scaleY(1);transform:scaleY(1);opacity: 1;}
}
@keyframes scaleX1{
    0%{-webkit-transform:scaleY(0);-ms-transform:scaleY(0);transform:scaleY(0);opacity: 0;}
    60%{opacity:1;-webkit-transform:scaleY(1.05);-ms-transform:scaleY(1.05);transform:scaleY(1.05)}
    80%{-webkit-transform:scaleY(.949);-ms-transform:scaleY(.949);transform:scaleY(.949)}
    100%{-webkit-transform:scaleY(1);-ms-transform:scaleY(1);transform:scaleY(1);opacity: 1;}
}