body{
    padding-top: .5rem;
    padding-bottom: .5rem;
}
.carousel{
     height: 5rem;
     background-color: #000;
 }
.carousel .item{
    height: 5rem;
    background-color: #000;
}
.carousel-caption p{
    margin-bottom: .2rem;
    font-size: .2rem;
    line-height: .2rem;
}
#summary-container .col-md-4{
    margin-top: .6rem;
    text-align: center;
}
.container>hr{
    margin: .4rem 0;
}
.feature{
    padding: .3rem;
}
.feature-heading{
    font-size: .5rem;
    color: #2a6496;
    margin-top: .8rem;
}
.feature-heading .text-muted{
    font-size: .28rem;
    color: #999;;
}
